* {
  margin: 0;
}

html,
body,
#view,
#app {
  width: 100%;
  height: 100%;
}

#view,
#app {
  position: absolute;
}

#tips {
  position: fixed;
  top: 24px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 1;
  user-select: none;
  pointer-events: none;
}
#tips a {
  color: bisque;
  pointer-events: auto;
}